<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="section">
        <div class="container">
        <h2>City Guide</h2>
        <p>Sign in to explore the city</p>
        <form action="/register" method="post" class="inputlogin" id="registerForm">
            <p>Name</p>
            <input class="name" name="name" type="text" placeholder="email">
            <p>Email</p>
            <input class="email" name="email" type="email" placeholder="email">
            <p>Password</p>
            <input class="password" name="password" type="password" placeholder="password">

            <button class="signinbtn" type="submit" id="signinbtn">Register</button>
        </form>
        <p>already have account</p>
        <a href="/login" class="createbtn">Sign in</a>
    
        

    </div>
    </div>

    <script src="/js/register.js"></script>
</body>
</html>