<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/rzeszow-style.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <a href="#" class="header-logo">City Guide</a>
        
            <nav class="header-nav">
                <a href="#">Sign in</a>
                <a href="#">Sign out</a>
            </nav>
            </div>
    </header>

    <section class="info-city">
    <div class="container info-city-container">
        <h1>Rzeszow</h1>
        <p>Discover the best places, services, and events</p>

        <div class="info-city-btns-wrapper">
            <button>Popular places</button>
            <button>Services</button>
            <button>Events</button>
        </div>
    </div>
    </section>

    <section class="places">
        <div class="container places-container">
            <h2>Beautiful places</h2>
            <p>Discover the most scenic spots in our city</p>

                <div class="places-box">
                    <div class="box-card">
                        <img src="./img/rzeszow_rynek_1172.jpg" alt="">
                        <h3>Central Park</h3>
                        <p>Perfect place for walks and family relaxation. Large green area with a lake.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>

                    <div class="box-card">
                        <img src="./img/podziemna_trasa_turystyczna_w_rzeszowie_1171.jpg" alt="">
                        <h3>National Museum</h3>
                        <p>Rich collection of modern art and historical exhibits.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>

                    <div class="box-card">
                        <img src="./img/rzeszow_zamek_1170.jpg" alt="">
                        <h3>Historic Square</h3>
                        <p>18th-century architectural ensemble. Heart of the old town.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>
                


                
                    <div class="box-card">
                        <img src="./img/lisia_gora.jpg" alt="">
                        <h3>Central Park</h3>
                        <p>Perfect place for walks and family relaxation. Large green area with a lake.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>

                    <div class="box-card">
                        <img src="./img/teatr_9.jpg" alt="">
                        <h3>National Museum</h3>
                        <p>Rich collection of modern art and historical exhibits.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>

                    <div class="box-card">
                        <img src="./img/flypark-rzeszow.jpg" alt="">
                        <h3>Historic Square</h3>
                        <p>18th-century architectural ensemble. Heart of the old town.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>
                </div>


    </section>

    <section class="goverment_services">
        <div class="container goverment_services-container">
            <h2 style="text-align: center;">Government Services</h2>
            <p style="text-align: center;">Essential institutions and services for city residents</p>

            <div class="goverment_services-box">
                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>
            

            
                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>
            </div>

            
        </div>
    </section>


    <section class="events">
        <div class="container events-container">
            <h2 style="text-align: center;">Upcoming Events</h2>
            <p style="text-align: center;">Don't miss exciting events happening in the city</p>

            <div class="events-box">
                <div class="box-card events-card">
                    <img src="./img/events1copy.jpeg" alt="">
                    <div class="card-date">
                        <span>Jun</span>
                        <span>15</span>
                    </div>
                    <h3>Street Food Festival</h3>
                    <p>Culinary journey through world cuisines. More than 50 participants.</p>
                    <a href="">Learn more</a>
                </div>
                
                <div class="box-card events-card">
                    <img src="./img/events2.jpeg" alt="">
                    <div class="card-date">
                        <span>Jun</span>
                        <span>15</span>
                    </div>
                    <h3>Street Food Festival</h3>
                    <p>Culinary journey through world cuisines. More than 50 participants.</p>
                    <a href="">Learn more</a>
                </div>

                <div class="box-card events-card">
                    <img src="./img/events3.jpeg" alt="">
                    <div class="card-date">
                        <span>Jun</span>
                        <span>15</span>
                    </div>
                    <h3>Street Food Festival</h3>
                    <p>Culinary journey through world cuisines. More than 50 participants.</p>

                    <a href="">Learn more</a>
                </div>
            </div>
            
        </div>
    </section>


    <footer class="footer">
        <div class="container footer-container">
            <div class="city">
                <h3 class="header-logo">City Guide</h3>
                <p>Your guide to the most interesting places and services in the city</p>
            </div>


            <div class="sections">
                <span>Sections</span>
                <p>places</p>
                <p>services</p>
                <p>Events</p>
                <p>Sign in</p>
            </div>


            <div class="contacts">
                <span>Contact</span>
                <p>Email: info@cityguide.pl</p>
                <p>Phone: +48 505 234 242 <br> +48 792 277 768</p>
                <p>Address: Rzeszów, ul. Rynek 1</p>
            </div>


            <div class="social_media">
                <p><span>Social Media</span></p>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Telegram</a>
            </div>



        </div>

        <p class="footer-line"><span>©</span> 2026 City Guide. All rights reserved.</p>
    </footer>
</body>
</html>