<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/warsaw-style.css">

    <title>Document</title>
</head>
<body>

    <header class="header">
        <div class="container header-container">
            <a href="/" class="header-logo">City Guide</a>
        
            <nav class="header-nav">
                <a href="/login" id="signin-btn">Sign in</a>
                <a href="/register" id="signup-btn">sign up</a>
                <a id="dashboard-btn" type="button" >Dashboard</a>
                <!-- <button id="logout-btn" style="display:none">Logout</button> -->

            </nav>
            </div>
    </header>

    <section class="info-city">
    <div class="container info-city-container">
        <h1>Warsaw</h1>
        <p>Discover the best places, services, and events</p>

        <div class="info-city-btns-wrapper">
            <button id="places-button">Popular places</button>
            <button id="services-button">Services</button>
            <button id="events-button">Events</button>
        </div>
    </div>
    </section>

    <section class="places" id="places">
        <div class="container places-container">
            <h2>Beautiful places</h2>
            <p>Discover the most scenic spots in our city</p>

            
                <div class="places-box">
                    <div class="box-card">
                        <img src="/img/img-warsaw/OldTownSquare.png" alt="">
                        <h3>Old Town Square</h3>
                        <p>Historic heart of the city, carefully rebuilt after World War II.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>

                    <div class="box-card">
                        <img src="/img/img-warsaw/LazienkiPark.png" alt="">
                        <h3>Łazienki Park</h3>
                        <p>Elegant palace surrounded by peaceful gardens and lakes.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>


                


                
                    <div class="box-card">
                        <img src="/img/img-warsaw/palaceOfCulture.png" alt="">
                        <h3>Palace of Culture and Science</h3>
                        <p>Warsaw’s most iconic skyscraper and cultural landmark.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>

                    <div class="box-card">
                        <img src="/img/img-warsaw/TheRoyalCastle.png" alt="">
                        <h3>Royal Castle</h3>
                        <p>Former residence of Polish kings and national symbol.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>
                


                

                    <div class="box-card">
                        <img src="/img/img-warsaw/WarsawUprisingMuseum.png" alt="">
                        <h3>Warsaw Uprising Museum</h3>
                        <p>Powerful museum telling the story of the 1944 uprising.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>

                    <div class="box-card">
                        <img src="/img/img-warsaw/WilanowPalace.png" alt="">
                        <h3>Wilanów Palace</h3>
                        <p>1Magnificent baroque palace known as the “Polish Versailles”.</p>
                        <div class="btn-learn_more">
                            <a href="">Learn more</a>
                            <button><img src="../img/70653.png" alt=""></button>
                        </div>
                    </div>
                </div>
            


    </section>

    <section class="goverment_services" id="services">
        <div class="container goverment_services-container">
            <h2 style="text-align: center;">Government Services</h2>
            <p style="text-align: center;">Essential institutions and services for city residents</p>

            <div class="goverment_services-box">
                <div class="box-card gov-card">
                    <h3>Mazowiecki Urząd Wojewódzki w Warszawie</h3>

                    <p class="card-address">Marszałkowska 3/5, 00-624 Warszawa</p>
                    <p class="card-time">Mon-Fri: 8am-3pm</p>
                    <a href="">open</a>
                </div>

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>
            

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>

                <div class="box-card gov-card">
                    <h3>Public Service Center</h3>

                    <p class="card-address">45 Central Street</p>
                    <p class="card-time">Mon-Fri: 9:00-18:00</p>
                    <a href="">open</a>
                </div>
            </div>    
            
        </div>
    </section>


    <section class="events" id="events">
        <div class="container events-container">
            <h2 style="text-align: center;">Upcoming Events</h2>
            <p style="text-align: center;">Don't miss exciting events happening in the city</p>

            <div class="events-box">
                <div class="box-card events-card">
                    <img src="/img/img-warsaw/events1copy.jpeg" alt="">
                    <div class="card-date">
                        <span>Jun</span>
                        <span>15</span>
                    </div>
                    <h3>Street Food Festival</h3>
                    <p>Culinary journey through world cuisines. More than 50 participants.</p>
                    <a href="">Learn more</a>
                </div>
                
                <div class="box-card events-card">
                    <img src="/img/img-warsaw/events2.jpeg" alt="">
                    <div class="card-date">
                        <span>Jun</span>
                        <span>15</span>
                    </div>
                    <h3>Street Food Festival</h3>
                    <p>Culinary journey through world cuisines. More than 50 participants.</p>
                    <a href="">Learn more</a>
                </div>

                <div class="box-card events-card">
                    <img src="/img/img-warsaw/events3.jpeg" alt="">
                    <div class="card-date">
                        <span>Jun</span>
                        <span>15</span>
                    </div>
                    <h3>Street Food Festival</h3>
                    <p>Culinary journey through world cuisines. More than 50 participants.</p>

                    <a href="">Learn more</a>
                </div>
            </div>
            
        </div>
    </section>


    <footer class="footer">
        <div class="container footer-container">
            <div class="city">
                <h3 class="header-logo">City Guide</h3>
                <p>Your guide to the most interesting places and services in the city</p>
            </div>


            <div class="sections">
                <span>Sections</span>
                <p>places</p>
                <p>services</p>
                <p>Events</p>
                <p>Sign in</p>
            </div>


            <div class="contacts">
                <span>Contact</span>
                <p>Email: info@cityguide.pl</p>
                <p>Phone: +48 505 234 242 <br> +48 792 277 768</p>
                <p>Address: Rzeszów, ul. Rynek 1</p>
            </div>


            <div class="social_media">
                <p><span>Social Media</span></p>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Telegram</a>
            </div>



        </div>

        <p class="footer-line"><span>©</span> 2026 City Guide. All rights reserved.</p>
    </footer>



<script>

    const signIn = document.getElementById('signin-btn')
    const signUp = document.getElementById('signup-btn')
    const dashboardbtn = document.getElementById('dashboard-btn')
    const logoutBtn = document.getElementById('logout-btn')
    

    async function checkAuth() {
    const res = await fetch('/api/me');

    if (res.status === 401) {
        // ❌ не авторизован
        signIn.style.display = 'inline-block';
        signUp.style.display = 'inline-block';
        dashboardbtn.style.display = 'none';
        logoutBtn.style.display = 'none';
        return;
    }

    // ✅ авторизован
    signIn.style.display = 'none';
    signUp.style.display = 'none';
    dashboardbtn.style.display = 'inline-block';
    logoutBtn.style.display = 'inline-block';
    }
    checkAuth();
   

    
    dashboardbtn.addEventListener('click', () => {
        console.log('CLICKED');
        window.location.href = '/dashboard';
    })

const places = document.getElementById('places')
const services = document.getElementById('services')
const events = document.getElementById('events')

const placesbutton = document.getElementById('places-button')
const servicesbutton = document.getElementById('services-button')
const eventsbutton = document.getElementById('events-button')

placesbutton.addEventListener ('click', () => {
    places.scrollIntoView ({
        behavior: 'smooth',
        block: 'start'
    })
})

servicesbutton.addEventListener ('click', () => {
    services.scrollIntoView ({
        behavior: 'smooth',
        block: 'start'
    })
})

eventsbutton.addEventListener ('click', () => {
    events.scrollIntoView ({
        behavior: 'smooth',
        block: 'start'
    })
})

</script>
  
</body>
</html>